/******************************************************
                    Superior Attack
                        Stylesheet
******************************************************/

body {
    background-color: black;
}

header {
    background-color: black;
}

footer {
    background-color: rgb(178, 168, 19);
    color: black;
    text-align: center;
}

a {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: bold;
    color: white;
}

a:active {
    text-decoration: bold;
    color: white;
}


#headline {
    font-size: 32px;
    padding: 15px 0;
    color: rgb(178, 168, 19);
    text-align: center;
}


.logo {
    padding-top: 30px;
}

.bi-person-circle {
    color: white;
    opacity: 0.5;
}

.spray-1 {
    background-image: url(images/spray_01.svg);
    background-size: 300px 250px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.spray-2 {
    background-image: url(images/spray_02.svg);
    background-size: 300px 250px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.spray-3 {
    background-image: url(images/spray_03.svg);
    background-size: 300px 250px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.spray-4 {
    background-image: url(images/spray_04.svg);
    background-size: 300px 250px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.spray-5 {
    background-image: url(images/spray_05.svg);
    background-size: 300px 250px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.player-name {
    text-align: center;
    color: rgb(178, 168, 19);
    font-style: italic;
}


/* Extra small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}   

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}   

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #logo-wrapper {
        text-align: center;
    }

    .logo {
        width: 650px;
        height: 650px;
    }

    #headline {
        font-size: 32px;
        padding: 15px 0;
        color: rgb(178, 168, 19);
        text-align: center;
    }

    .spray-1 {
        position: absolute;
        top: 100px;
        left: 20px;
        z-index: 1;
    }
    
    .spray-2 {
        position: absolute;
        top: 350px;
        left: 350px;
        z-index: 1;
    }
    
    .spray-3 {
        position: absolute;
        top: 100px;
        left: 700px;
        z-index: 1;
    }
    
    .spray-4 {
        position: absolute;
        top: 450px;
        left: -150px;
        z-index: 1;
    }
    
    .spray-5 {
        position: absolute;
        top: 450px;
        left: 850px;
        z-index: 220px;
    }
    
    .player-name {
        text-align: center;
        color: rgb(178, 168, 19);
        font-style: italic;
    }
    

}

@media (min-width: 1800px) {  

    .logo {
        width: 750px;
        height: 750px;
    }


}

@media (min-width: 2200px) {

    .logo {
        width: 750px;
        height: 750px;
    }

}